*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

#header{
    height: 50px;
    list-style: none;
    text-align: center;
    background: black;
}

#header li{
    height: 50px;
    display: inline-block;
    background: #eee;
    padding: 0 10px;
}

#header li.actived{
    background: #888;
}

#header li:hover{
    background: #777;
}

#header li a{
    color: black;
    line-height: 50px;
    outline: none;
    text-decoration: none;
}

#main{
    margin-top: 20px;
    padding: 0 10px;
}

#welcome{
    margin: 40px 0;
    text-align: center;
}

.table_header{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.info_table,.list_table{
    margin: 20px auto;
    border-collapse: collapse;
    max-width: 900px;
    width: auto;
    word-break: break-all;
}

.list_table th,td{
    border:1px solid gray;
    padding:5px 20px;
}
@media all and (max-width:750px){
    .list_table th{
        padding:5px;
    } 
    .list_table td{
        padding:5px 8px;
    }
}

.info_table th,td{
    border:1px solid gray;
    padding:5px 20px;
}

.list_table tr:nth-child(even){
	background: #eee;
}

.info_table td:first-child{
	text-align: right;
}
.info_table td:last-child{
	text-align: left;
}
.list_table td{
    text-align: left
}
.list_table td:first-child{
	text-align: center
}


#file_upload_form{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 500px;
    padding: 20px 0;
    border: 1px solid #aaa;
}
#upload_btn{
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 60px;
    height: 30px;
}

.delete_btn{
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 50px;
    height: 25px;
}

.warning_noti{
    text-align: center;
    color: palevioletred;
}

.error_noti{
    text-align: center;
    color: red;
}

.okay_noti{
    text-align: center;
    color: green;
}

#footer{
    margin: 30px 0 20px 0;
    text-align: center;
}